<form id="add-form" class="row p-3">
    <div class="col-lg-8 d-flex flex-column gap-3">
        <div class="btn-group d-table mx-auto select-bg">
            <input type="radio" name="select" id="income" class="btn-check" checked>
            <label class="btn" for="income">지출</label>
            <input type="radio" name="select" id="expense" class="btn-check">
            <label class="btn" for="expense">수입</label>
        </div>
        <div class="border">
            <label class="d-block text-center my-1 fs-5">자산선택</label>
            <div id="select-asset" class="d-flex gap-2 flex-wrap p-3 justify-content-center select-scale">
                <% asset_list.forEach(function(item, index){ %>
                <input type="radio" name="select_asset" id="<%= item.name %>" class="btn-check">
                <label class="btn" for="<%= item.name %>" style="background-color:  <%= item.color %>"><%= item.name %></label>
                <% }) %>
            </div>
        </div>
        <div class="border">
            <label class="d-block text-center my-1 fs-5">분류</label>
            <div id="select-type" class="d-flex gap-2 flex-wrap p-3 justify-content-center select-scale">
                <% expense_type.forEach(function(item, index){ %>
                <input type="radio" name="select_asset" id="<%= item %>" class="btn-check">
                <label class="btn" for="<%= item %>"><%= item%></label>
                <% }) %>
            </div>
        </div>
    </div>


    <div class="col-lg-4 d-flex flex-wrap align-content-center gap-5">
        <input id="input_date" type="date" class="form-control" value="">
        <input type="text" class="form-control" placeholder="금액" aria-label="금액">
        <input type="text" class="form-control" placeholder="내용" aria-label="내용">
        <input type="button" class="form-control" value    ="추가" aria-label="추가">
    </div>
</form>

<script type="text/javascript" src="/js/add.js"></script>